@model EurofinsEvents.Models.ApplicationUser

<div class="container">
    <h2>Events</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Date and Time</th>
                <th>Location</th>
                <th>Confirmed</th>
                <th>Votes</th>
                <th>Guests</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ev in Model.EventList)
            {
                <tr>
                    <td>@ev.Title</td>
                    <td>@ev.Description</td>
                    <td>@ev.Datetime</td>
                    <td>@ev.Location</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" disabled @(ev.Confirmed ? "checked" : "" )>
                        </div>
                    </td>
                    <td>@ev.Votes.Count</td>
                    <td>@ev.Guests.Count</td>
                    <td><img style="height:60px;width:80px" src="/Uploads/@ev.EventImage" /></td>
                    <td>

                        <a href="/Event/Edit?id=@ev.Event_ID" class="btn btn-default"><i class="fa fa-edit"></i>Edit</a>
                        <a onclick="return confirm('Are you sure?')" href="/Event/Delete/@ev.Event_ID" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="input-container">
        <a href="/Event/Create" class="btn btn-secondary">Add New Event</a>
    </div>
</div>
